{% extends "base.html" %}

{% block title %}Companies - Company Registry{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %} 
    <body>
        {% block content %}
        <div class="container">
            <h1>Companies</h1>
            <table class="table align-middle">
                <caption>List of registered companies</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Company Name</th>
                        <th>Registration Code</th>
                        <th>Start Capital</th>
                        <th>Start Date</th>
                        <th></th>
                    </tr>
                </thead>
                {% for company in companies %}
                    <tr>
                        <td><a href="{{ url_for('main.get_company', id=company.id) }}">{{ company.name }}</a></td>
                        <td>{{ company.reg_code }}</td>
                        <td>{{ company.start_capital }} Euro</td>
                        <td>{{ company.start_date }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCompanyModal">
                                Remove</button>
                            <div class="modal fade" id="deleteCompanyModal" tabindex="-1" aria-labelledby="deleteCompanyModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteCompanyModalLabel">Remove Company</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove {{ company.name }}?
                                        </div>        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('main.delete_company', id=company.id) }}';">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>        
        {% endblock %}
    </body>
</html>