{% extends "base.html" %}

{% block title %}Companies - Company Registry{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %} 
    <body>
        {% block content %}
        <div class="container">
            <h1>Companies</h1>
            <table class="table">
                <caption>List of registered companies</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Company Name</th>
                        <th>Registration Code</th>
                        <th>Start Capital</th>
                        <th>Start Date</th>
                        <th>delete</th>
                    </tr>
                </thead>
                {% for company in companies %}
                    <tr>
                        <td><a href="{{ url_for('main.get_company', id=company.id) }}">{{ company.name }}</a></td>
                        <td>{{ company.reg_code }}</td>
                        <td>{{ company.start_capital }}</td>
                        <td>{{ company.start_date }}</td>
                        <td>
                            <a href="{{ url_for('main.delete_company', id=company.id) }}" onclick="return confirm('Are you sure you want to delete {{ company.name }}?');" title="Delete company">
                            <i class="material-icons">delete</i>
                            </a>

                            </td>
                    </tr>
                {% endfor %}
            </table>
        </div>        
        {% endblock %}
    </body>
</html>