<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %} 

        <title>{{ company.name }} Details</title>  
        {% endblock %}
    </head>

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    <body>
        {% block content %}
        <div class="container">        
        <h1>{{ company.name }}</h1>
        <p>Reg Code: {{ company.reg_code }}</p>
        <p>Capital: {{ company.start_capital }}</p>
        <p>Start Date: {{ company.start_date }}</p>
        <h2>Natural Shareholders</h2>
        <ul>
            {% for shareholder in company.natural_shareholders %}
                <li>{{ shareholder.name }}</li>
            {% endfor %}
        </ul>
        <h2>Legal Shareholders</h2>
        <ul>
            {% for shareholder in company.legal_shareholders %}
                <li>{{ shareholder.name }}</li>
            {% endfor %}
        </ul>  
        </div>           
        {% endblock %}
    </body>
</html>