{% extends "base.html" %}

{% block title %}{{ company.name }} Details - Company Registry{% endblock %}
    <body>
        {% block content %}
        <div class="container">        
        <h1>{{ company.name }} Details</h1>
        <p>Reg Code: {{ company.reg_code }}</p>
        <p>Start Capital: {{ company.start_capital }}€</p>
        <p>Start Date: {{ company.start_date }}</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCompanyModal">
            Change Name</button>
        <div class="modal fade" id="editCompanyModal" tabindex="-1" aria-labelledby="editCompanyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editCompanyModalLabel">Edit Company Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('main.update_company', id=company.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <label for="name">Name:</label>
                            <input type="text" name="name" class="form-control" value="{{ company.name }}">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h3>Natural Shareholders</h3>
        <table class="table align-middle">
            <caption class="visually-hidden">Natural Shareholders</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Social Insurance Number</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Founder</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for shareholder in company.natural_shareholders %}
                <tr>
                    <td>{{ shareholder.first_name }} {{ shareholder.last_name }}</td>
                    <td>{{ shareholder.social_insurance_number }}</td>
                    <td>{{ shareholder.shares }}</td>
                    <td>{{ shareholder.founder }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteNaturalModal">
                            Remove</button>
                        <div class="modal fade" id="deleteNaturalModal" tabindex="-1" aria-labelledby="deleteNaturalModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteNaturalModalLabel">Remove Natural Shareholder</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove {{ shareholder.first_name }} {{ shareholder.last_name }}?
                                    </div>        
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('main.delete_natural_shareholder', id=shareholder.id) }}';">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <!-- Add natural shareholder modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNaturalShareholderModal">
            Add Natural Shareholder</button>
        <div class="modal fade" id="addNaturalShareholderModal" tabindex="-1" aria-labelledby="addNaturalShareholderModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNaturalShareholderModalLabel">Add Natural Shareholder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('main.add_natural_shareholder', id=company.id) }}">
                            {{ natural_form.csrf_token }}
                            <div class="mb-3">
                                {{ natural_form.first_name.label }} {{ natural_form.first_name(class_="form-control") }}
                            </div>
                            <div class="mb-3">
                                {{ natural_form.last_name.label }} {{ natural_form.last_name(class_="form-control") }}
                            </div>
                            <div class="mb-3">
                                {{ natural_form.sin.label }} {{ natural_form.sin(class_="form-control") }}
                            </div>
                            <div class="mb-3">
                                {{ natural_form.shares.label }} {{ natural_form.shares(class_="form-control") }}
                            </div>
                            <div class="mb-3">
                                {{ natural_form.founder.label }} {{ natural_form.founder(class_="form-inline") }}
                            </div>
                    </div>        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br><br>
        <h3>Legal Shareholders</h3>
        <table class="table align-middle">
            <caption class="visually-hidden">Legal Shareholders</caption>
            <tr>
                <thead class="thead-light">
                    <th scope="col">Name</th>
                    <th scope="col">Registration Code</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Founder</th>
                    <th scope="col"></th>
                </thead>
            </tr>
            {% for shareholder in company.legal_shareholders %}
                <tr>
                    <td>{{ shareholder.name }}</td>
                    <td>{{ shareholder.reg_code }}</td>
                    <td>{{ shareholder.shares }}</td>
                    <td>{{ shareholder.founder }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteLegalModal">
                            Remove</button>
                        <div class="modal fade" id="deleteLegalModal" tabindex="-1" aria-labelledby="deleteLegalModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteLegalModalLabel">Remove Legal Shareholder</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove {{ shareholder.name }}?
                                    </div>        
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('main.delete_legal_shareholder', id=shareholder.id) }}';">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        <!-- Add legal shareholder modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addLegalShareholderModal">
            Add Legal Shareholder</button>
            <div class="modal fade" id="addLegalShareholderModal" tabindex="-1" aria-labelledby="addNaturalShareholderModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addLegalShareholderModalLabel">Add Legal Shareholder</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>    
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('main.add_legal_shareholder', id=company.id) }}">
                                {{ legal_form.csrf_token }}
                                <div class="mb-3">
                                    {{ legal_form.leg_name.label }} {{ legal_form.leg_name(class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ legal_form.reg_code.label }} {{ legal_form.reg_code(class_="form-control") }}
                                </div>
                                <div class="mb-3">    
                                    {{ legal_form.shares.label }} {{ legal_form.shares(class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ legal_form.founder.label }} {{ legal_form.founder(class_="form-inline") }}
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        <br> 
        </div>
        
        {{ bootstrap.load_js() }}
        
        {% endblock %}
    </body>
</html>