<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %} 

        <title>Company Registry</title>  
        {% endblock %}
    </head>

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    <body>
        {% block content %}
        <div class="container">
            <h1>Companies</h1>
            <table>
                <caption>List of registered companies</caption>
                <tr>
                    <th>Name</th>
                    <th>Reg Code</th>
                    <th>Capital</th>
                    <th>Start Date</th>
                </tr>
                {% for company in companies %}
                    <tr>
                        <td><a href="{{ url_for('main.get_company', id=company.id) }}">{{ company.name }}</a></td>
                        <td>{{ company.reg_code }}</td>
                        <td>{{ company.start_capital }}</td>
                        <td>{{ company.start_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>        
        {% endblock %}
    </body>
</html>