<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Registry</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.hello') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.get_companies') }}">Companies</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.create_company') }}">Add New</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalLoginForm">Login</a>
                    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLoginFormLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title" id="modalLoginFormLabel">Sign in</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('auth.login') }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <div class="mb-3">
                                            <input type="email" id="email" name="email" class="form-control validate" placeholder="e-mail">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" id="password" name="password" class="form-control validate" placeholder="password">
                                </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalRegisterForm">Sign Up</a>
                        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="modalRegisterFormLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title" id="modalRegisterFormLabel">Register Account</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{{ url_for('auth.create_user') }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <div class="mb-3">
                                                <input type="email" id="email" name="email" class="form-control validate" placeholder="e-mail">
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" id="password" name="password" class="form-control validate" placeholder="password">
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>